{% extends 'base_account.html' %}
{% block content %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
                  <main class="container mt-3 pb-5">
                    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
                      <div class="card-body px-3 pb-4">
                        <h1 class="h4 pt-2">Моя вакансия</h1>
                        <p class="mt-2">Создайте свою первую вакансию, чтобы начать искать работников мечты!</p>
                        <a href="/mycompany/vacancies/create/" class="btn btn-info mb-2">Создать карточку вакансии</a>
                      </div>
                    </section>
                  </main>

              <!-- END vacancy state 1 -->
              {% endblock %}